---
import styles from "../../styles/empleos/Hero.module.css";
import ScrollingBanner from "../ScrollingBanner.astro";
---

<section class={styles.hero}>
  <div class={styles.container}>
    <h1>Encuentra el trabajo <br /><span>de tus sueños.</span></h1>
    <div class={styles.highlightBox}>
      <h2>
        ¡Creamos el enlace perfecto <strong
          >entre tú y las empresas más destacadas</strong
        > a nivel internacional!
      </h2>
    </div>
    <p>
      Sabemos que encontrar un trabajo significativo puede ser un reto. Estamos
      aquí para facilitarte el camino y <strong
        >lograr el mejor match para ti y nuestras empresas.</strong>
    </p>
      <br/>
      <h3>Comienza tu viaje con nosotros <strong>explorando los trabajos disponibles </strong></h3>
    
    <a href="#trabajos" class={styles.button}>
  <span class="iconify" data-icon="lucide:laptop" style="font-size:16px;"></span>
  Ver oportunidades
</a>


  </div>
  
</section>
<ScrollingBanner />
