---
import styles from '../../styles/empleos/SearchBar.module.css';
---

<div class={styles.searchBar}>
  <div class={styles.inputWrapper}>
    <span class="iconify" data-icon="lucide:search" style="font-size:18px;"></span>
    <input type="text" placeholder="Búsqueda" />
  </div>

  <div class={styles.selectWrapper}>
    <select>
      <option>Selecciona una opción</option>
      <option>Tiempo completo</option>
      <option>Medio tiempo</option>
    </select>
    <span class="iconify" data-icon="lucide:chevron-down" style="font-size:18px;"></span>
  </div>
</div>
