<section class="profiles-section">
  <div class="profiles-container">
    <div class="profile-card">
      <img src="/images/perfil3.webp" class="profile-img" />
      <img src="/images/perfil2.webp" class="profile-img" />
      <img src="/images/perfil1.webp" class="profile-img" />
      <p>+5000 empresas confían en nosotros</p>
      <div class="stars">★★★★★</div>
    </div>
  </div>

  <!-- VIDEO MÓVIL -->
  <div class="video-container">
    <div class="video-wrapper">
      <video
        id="video-principal"
        controls muted playsinline
        poster="/images/previa-img.png"
        style="width:100%; height:auto; border-radius:16px;"
      >
        <source src="/images/Video-principal.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>
