---
import "../../styles/HeroSection.css";
---

<div class="hero-text">
  <h2>
    Contrata diferente.<br />
    <span class="highlight">Crece sin límites.</span>
  </h2>

  <p>
    Accede a profesionales que trabajen en remoto para tu empresa, y
    <span class="highlight">ahorra hasta un 70%</span> en comparación con la
    contratación tradicional.
  </p>

  <button class="btn-primary">
    <span 
      class="iconify"
      data-icon="material-symbols-light:phone-in-talk"
      style="font-size:27px;">
    </span>
    AGENDA UNA LLAMADA GRATIS
  </button>

  <section class="profiles-desktop-section">
    <div class="profiles-desktop-card">
      <div class="profiles-desktop-images">
        <img src="/images/perfil3.webp" class="profile-desktop-img" />
        <img src="/images/perfil2.webp" class="profile-desktop-img" />
        <img src="/images/perfil1.webp" class="profile-desktop-img" />
      </div>
      <p>+5000 empresas confían en nosotros</p>
      <div class="desktop-stars">★★★★★</div>
    </div>
  </section>
</div>
