.hero {
  background: #fefcff;
  padding: 5rem 1.5rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}
h1 span {
  color: #ff69b4;
  font-family: 'Poppins', sans-serif;
}
h2 strong{
  color:#ff69b4;
  font-family: 'Poppins', sans-serif;
}
h2{
  color: #fefcff;
  font-family: 'Poppins', sans-serif;
}
h3 strong{
  margin-top: 8%;
  color:#ff69b4;
  font-family: 'Poppins', sans-serif;
}
p {
  margin-top: 3rem;
  color: #555;
  font-size:large;
  font-family: 'Poppins', sans-serif;
}

p strong {
  color: #ff69b4;
  font-family: 'Poppins', sans-serif;
}
.highlightBox {
  margin-top: 2rem;
  background: #25262B;
  color: #fff;
  border-radius: 60px;
  padding: 3rem;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  background: #ff69b4;
  color: #fff;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background: #ff4fa4; 
  transform: scale(1.03);
}


.button .iconify {
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
}
