.jobsSection {
  padding: 4rem 1.5rem;
  background: #ffeef6;
  border-radius: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h2 {
  margin-bottom: 1.5rem; 
}

.header span {
  color: #ff69b4;
  font-size: 200%;
  margin-bottom: 50%;
  font-weight: bold; 
}

.header strong {
  color: black;
  font-size: 200%;
  margin-bottom: 50%;
  font-weight: bold; 
}



.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

