                       /*CARRUSEL */ 

    .carrusel-desktop { display: none; }
  .btn-primary3-desktop{display: none;}
    

.beneficiosh2{
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 36px;
  color: #25262B;
  padding: 1rem 1rem; 
     text-align:center; 
}

.beneficiosp{

   font-family: 'Inter', sans-serif;
       font-style: normal;                
    font-weight: 500;                  
    font-size: 15px; 
  color: #25262B;
   text-align:center; 
   padding-bottom: 25px;
}

.carrusel-section {
  position: relative;
background-color: rgb(255, 232, 246); 
  padding: 2rem 0 4rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding-top: 50px;
    padding-bottom: 30px;
}

.carrusel-wrapper {
  width: 90%;
  
}

.carrusel-container {
  display: flex;
  transition: transform 0.6s ease;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  min-width: 280px;
  height: 340px; 
  margin: 0 10px;
  background-color: #FFEFF9;
  border-radius: 40px;
  flex-shrink: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.7;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); 
 
}

.card.active {
  background-color: white;
  transform: scale(1.1) rotate(0deg);
  opacity: 1;
  z-index: 2;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); 
}

.card.prev {
  transform: scale(0.9) rotate(-8deg);
  opacity: 0.8;
}

.card.next {
  transform: scale(0.9) rotate(8deg);
  opacity: 0.8;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  padding: 15px; 
}




.icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /*
 background: radial-gradient(circle at center, #ffffff 0%, #f7d3e9 70%, #f7c3e3 100%);*/
  width: 50px;
  height: 50px;
  border-radius: 30%; 
  margin: 0 auto 1rem auto; 
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}




 

h3 {
      font-family: 'Poppins', sans-serif;
     font-weight: bold;
  margin: 0;
  font-size: 17px; 
  font-weight: bold;
  color: #404146;
}

p {
  font-family: 'Inter', sans-serif;
     font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  color: #25202B;
}


.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.arrow {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 900;
  transform: rotate(180deg); 
}

.arrow.right {
  transform: rotate(0deg);
}


.indicator-bar {
  position: relative;
  width: 100px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.indicator-dot {
  position: absolute;
  top: -4px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  transition: left 0.4s ease;
}

.btn-primary3 {
    display: inline-flex;          
  align-items: center;           
  justify-content: center;      
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:500;
  background: #25262B; 
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
  margin-top: 25px; 
  margin-left: 38px;

}


.icono-trofeo{
   width: 100%;
  height: 100%; 
  object-fit: contain; 
  display: block; 
}

@media (max-width: 768px){

    .carrusel-wrapper {
    width: 95%;
  }

  .card {
    min-width: 220px;
    height: 260px;
  }
  .controls {
    gap: 1rem;
  }
  .arrow {
    font-size: 1.4rem;
  }
}

 @media (min-width: 1024px) {

      .carrusel-section { display: none; }
     .btn-primary3 {display: none; }
.btn-primary3-desktop{display: block;}
.cards-variedad-section{display: none;}


.beneficiosp {
  
    font-size: 19px;
    
}



  
.btn-primary3-desktop{
   display: inline-flex;          
  align-items: center;           
  justify-content: center;      
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:500;
  background: #25262B; 
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
  margin-top: 25px;  
  margin-left: 500px;
}

.btn-primary3-desktop:hover{
  background: #1d1d20; 
}

  .carrusel-desktop {
  display: block;
  background-color: rgb(255, 232, 246);
  padding: 2rem;
}


.mosaico-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  align-items: start; 
}


.mosaico-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.5px 1px rgba(0,0,0,0.03);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column; 
  gap: 0.2rem;
  min-height: 60px; 
  height: auto;   
   padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  overflow: hidden; 
}

.mosaico-card:hover {
  transform: scale(1.03); 
  box-shadow: 0 4px 10px rgba(0,0,0,0.12); 
}


.mosaico-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top:10px;
}


.mosaico-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  flex-shrink: 0;
}

.mosaico-icon img {
  width: 32px;
  height: 32px;
}


.mosaico-card h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mosaico-card p {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  font-size: 12px; 

  padding-bottom: 8px;
  margin-top: 0.5rem; 
}


.mosaico-card.open {
  min-height: auto; 
}

.mosaico-card.open p {
  max-height: 200px; 
  opacity: 1;
}


.mosaico-card:nth-child(1) { grid-column: span 3; }
.mosaico-card:nth-child(2) { grid-column: span 3; }

.mosaico-card:nth-child(3) { grid-column: span 4; }
.mosaico-card:nth-child(4) { grid-column: span 2; }

.mosaico-card:nth-child(5) { grid-column: span 2; }
.mosaico-card:nth-child(6) { grid-column: span 2; }
.mosaico-card:nth-child(7) { grid-column: span 2; }

.mosaico-card:nth-child(8) { grid-column: span 4; }
.mosaico-card:nth-child(9) { grid-column: span 2; }
                 

 }