@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 

.hero-banner {
  width: 100%;
  overflow: hidden;  
}

.hero-banner img { 
  width: 100%;
  height: 45px;
  object-fit: cover; 
  display: block;
  margin: 0 auto;
}


.cta-section {
 
  text-align: center;
  padding: 1rem 1.5rem;
  
 
}

.cta-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin-bottom: 1.6rem;
  margin-top: 25px;
}

.cta-section .cta-subtext {
  font-family: 'Inter', sans-serif;
   font-style: normal;              
    font-weight: 500;
  font-size: 17px;
  color: #25262B;
  line-height: 1.1;
  
}

.cta-section .cta-highlight {
  font-family: "Inter", sans-serif; 
    font-style: italic;                
    font-weight: 500;
  background-color: #25262B;
  color: #FFFFFF;
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 18px;
  line-height: 1.1;
  max-width: 300px;
  margin-top: 50px;
  font-size: 14px;
}


.subrayado-section {
  background-color: #ffffff;
  text-align: center;
  margin-top: 2rem;
  border-radius: 50px;
}

.subrayado-texto {
font-family: 'Poppins', sans-serif;
  font-weight: bold;
   font-style: italic;  
  font-size: 20px;
  line-height: 1.5;
  color: #25262B;
  margin-bottom: 1rem;
}

.subrayado-texto span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
   font-style: italic;
     font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #FF65C3;
  text-decoration-thickness: 2px;
  color: #FF65C3;
}

.subrayado-titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 26px;
padding: 2rem 1.5rem;
  color: #25262B;
  margin-bottom: 1.5rem;
}

.subrayado-card {
  background-color: #25262B;
  color: #FFFFFF;
  border-radius: 60px;
  padding: 3rem 2rem;
 
  margin: 0 auto;
  text-align: center;
}

.subrayado-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1.2rem;
  color: #FFFFFF;
}

.btn-rosado {
 display: inline-flex;          
  align-items: center;         
  justify-content: center;       
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
 
  background: #FF6ACD;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
}

.btn-rosado:hover{
   background: #f85ac3;
}



.cta-highlight2 {

  color: #FF65C3;
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
  max-width: 300px;
  margin-top: 50px;
}


.cta-highlight3 {

  color: #FF65C3;
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  line-height: 1.1;
  max-width: 300px;
  margin-top: 10px;
}



                                         /*CARRUSEL - CASOS DE EXITO*/ 



.testimonial-section {
  background-color: white; 
  /*
  background: linear-gradient(to bottom, #ffffff 0%, #f3bddb 50%, #ffffff 100%);
  */
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

.testimonial-card {
 flex: 0 0 85%;
  background: #fff;
  border-radius: 20px;
  padding: 1.2rem;
  scroll-snap-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;                 
  flex-direction: column;         
  justify-content: space-between;
}

.testimonial-video {
  width: 100%;
  height: 180px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  
}

.testimonial-avatar {
 width: 40px;
  height: 40px; 
  border-radius: 50%;       
  object-fit: cover;         
  flex-shrink: 0;
}

.testimonial-info {
  margin-left: 0.8rem;
}

.testimonial-name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FF65C3;
 
}

.testimonial-role {
font-family: 'Poppins', sans-serif;
font-weight: 400;
  font-size: 14px;
  color: #25262B;
  margin-top: -1px;
 
}

.testimonial-stars span {
  font-size: 0.9rem;
  color: #FFD700;
}

.testimonial-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight:300;
  font-size: 12px;
  text-align: justify;
  line-height: 1.4;
  color: #25262B;
  margin-bottom: 1rem;
}

.testimonial-btn {
    display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #FF6ACD;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
  align-self: center; 
  margin-left: 0;     
  margin-top: auto; 
}

.testimonial-btn:hover{
   background: #f85ac3;
}



.highlight-box {
  background: #25262B; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      margin-left: 15px;
          margin-right: 15px;
}

.highlight-icon {
  width: 32px;
  height: 32px;
  margin-right: 0.8rem;
  flex-shrink: 0;
}

.highlight-icon svg {
  width: 100%;
  height: 100%;
}

.highlight-text {
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size: 14px;
  line-height: 1.4;
  color: white;
  margin-top: -5px;
}


 @media (min-width: 1024px){



     .subrayado-card {
    max-width: 800px; 
  
  }

   .cta-highlight3{
    max-width: 400px;
  }

  .cta-section[data-astro-cid-nlow4r3u] .cta-subtext[data-astro-cid-nlow4r3u] {
 font-size: 19px;
}


 /*casos de exito*/ 

     .testimonial-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    overflow-x: visible; 
    flex-wrap: nowrap;
    padding: 2rem 4rem;
  }

  .testimonial-card {
    flex: 1 1 30%; 
    max-width: 350px; 
     position: relative; 
    padding-bottom: 4rem;
  }

  .testimonial-btn {
    position: absolute;
    bottom: 1.5rem; 
    left: 50%;
    transform: translateX(-50%);
    width: 180px; 
    text-align: center;
   
  }


  .highlight-box {
    max-width: 400px; 
    margin: 2rem auto; 
    justify-content: center; 
    padding: 1rem 1.5rem;
    text-align: center; 
  }

  .highlight-icon {
    margin-right: 0.5rem; 
  }

  .highlight-text {
    margin-top: 0; 
    display: inline-block;
    vertical-align: middle;
  }

  .highlight-icon,
  .highlight-text {
    display: inline-flex;
    align-items: center; 
  }

                                      
   .hero-banner img {
    height: 45px; 
  }

 }


 /*style modal testimonios*/
 .video-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 15px;
}

.video-modal.show {
  display: flex;
}

.video-modal-content {
  background: #000;
  padding: 10px;
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
}

#modalVideo {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

#closeModal {
  color: white;
  background: rgba(0,0,0,0.3);
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#closeModal:hover {
  background: rgba(255,255,255,0.2);
}

@media (max-width: 600px) {
  #modalVideo {
    height: 250px;
  }

  .video-modal-content {
    padding: 5px;
  }

  #closeModal {
    width: 28px;
    height: 28px;
    font-size: 18px;
  }
}


