@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');      
     
     /*COMO FUNCIONA*/ 
 

.como-funciona-section {
   background-color: white; 
   /*
   background: linear-gradient(
    to bottom,
    #ffffff 0%,         
    rgb(233, 188, 212) 50%,        
    #ffffff 100%       
  );
  */
  margin-top: 0.3rem;          
     
  text-align: center;
  color: black;
  border-radius: 70px;
}

.info-cards-como-hacemos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}


.info-card1-como-hacemos,
.info-card2-como-hacemos {
  position: relative;
  border-radius: 25px;
  padding: 0.6rem;
  width: 100%;
  max-width: 240px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card1-como-hacemos {
      margin-bottom: -20px;
  background: #25262B;
  transform: rotate(6deg);
  padding-top: 25px;
}

.info-card2-como-hacemos {
  background: #25262B; 
  transform: rotate(-6deg);
      margin-bottom: -20px;
      padding-top: 25px;
}


.inner-card {
  background: #FFFFFF;
  border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  text-align: left;
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.card-number {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #25262B;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.card-number2 {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #25262B;  
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.inner-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #FF65C3;
  margin-top: 1.4rem;
  margin-bottom: 0.4rem;
  text-align: center;
  line-height: 1;
}

.inner-card p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #25262B;
  line-height: 1.1;
  text-align: center;
}

/*info-card1-como-hacemos*/



.alto-nivel {
  color: #FF65C3; 
  font-weight: bold; 
}



.como-funciona-section h2{
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 36px;
  color: #FF65C3; 
  
}

.como-funciona-section p{

   font-family: 'Inter', sans-serif;
       font-style: normal;                
    font-weight: 500;                  
   
  color: #25262B;
    margin-top: 10px;
}
 

                                      /*TESTIMONIO*/ 

.testimonio-section {
  background-color: white; 
  /*
 background: linear-gradient(
    to bottom,
    #ffffff 0%,         
    #e59fc5 50%,       
    #ffffff 100%       
  ); 
  */
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 70px;
}

.testimonio-intro {
  font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 20px;
  color: #25262B;
  margin-bottom: 1.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.testimonio-card {
  background-color: #25262B;
  color: white;
  border-radius: 20px 20px 20px 0; 
  border-bottom-left-radius: 0;
  padding: 1.5rem;
  max-width: 340px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.testimonio-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
      gap: 10px;
}

.foto-profesional {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white; 
  margin-right: 1rem;
}

.info-profesional h3 {
  margin: 0;
  font-size: 18px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.info-profesional p {
 font-family: "Poppins", sans-serif; 
    font-style: normal;                  
    font-weight: 400; 
  margin-top: 2px;
  font-size: 14px;
  color: #beb5b5;
  
}

.testimonio-texto {
  font-family: "Inter", sans-serif; 
    font-style: italic;                
    font-weight: 300; 
  font-size: 13px;
  line-height: 1.1;
   color: #beb5b5;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.estrellas {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 0.90rem;
  color: #FFD700; 
  text-shadow: none; 
}

@media (min-width: 1024px){
     /*Como funciona*/ 

.info-cards-como-hacemos {
    flex-direction: row;          
    justify-content: center;      
    align-items: flex-start;      
    gap: 2rem;                    
  }

  
  .info-card1-como-hacemos:first-of-type {
    transform: rotate(6deg);
    margin-top: -20px;           
  }

 
  .info-card2-como-hacemos {
    transform: rotate(0deg);
    margin-top: 0;
  }

  
  .info-card1-como-hacemos:last-of-type {
    transform: rotate(-6deg);
    margin-top: -20px;            
  }

 
  .info-card1-como-hacemos,
  .info-card2-como-hacemos {
    width: 30%;
    max-width: 300px;
    height: auto; 
     min-height: 200px;            
  display: flex;
  align-items: flex-start;  
  }

  .inner-card {
    width: 100%;
    height: auto; 
      min-height: 180px;            
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  }

  .info-card1-como-hacemos:hover,
.info-card2-como-hacemos:hover {
  transform: rotate(0deg);
 
}


  .como-funciona-p{
   
    font-size: 19px;
   
}

.inner-card {
   
    padding-top: 30px; 
  
}

                                                /*TESTIMONIO*/ 
.testimonio-card {
    max-width: 800px;  
    padding: 2rem;    
    margin: 0 auto;    
  }

  .testimonio-intro {
    max-width: 700px;  
    font-size: 22px;   
  }

  .testimonio-texto {
    font-size: 14px;   
  }
}