.servicios {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  padding: 2rem 0;
}

.card {
  position: relative;
  flex: 1;
  height: 400px;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transition: all 0.5s ease;
}

.card:hover {
  flex: 2;
}

.card:hover img {
  filter: brightness(0.4);
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
  font-family: var(--font-poppins, sans-serif);
}

.card:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: aliceblue;
}

.overlay p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color:aliceblue;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: aliceblue; /* Color para todo el UL */
}

.overlay li {
  font-size: 0.85rem;
  color: #f472b6; /* Color rosa para cada LI */
}
