---
import InfoCard from "./InfoCard.astro";
---

<section id="como-funciona" class="como-funciona-section">
  <h2>¿Cómo funciona?</h2>
  <p class="como-funciona-p">
    Un proceso simple y efectivo para incorporar <span class="alto-nivel">talento de alto nivel</span> a tu empresa.
  </p>

  <div class="info-cards-como-hacemos">
    <InfoCard
      number="1"
      title="Nos cuentas tus necesidades"
      text="Cuéntanos el perfil que buscas, y nosotros nos encargamos de identificar a los mejores candidatos en Sudamérica que se ajusten perfectamente a tus requerimientos."
      className="info-card1-como-hacemos"
    />

    <InfoCard
      number="2"
      title="Nosotros contratamos a la persona"
      text="Contratamos al candidato seleccionado y le pagamos cada mes. Sin contrato de permanencia y sin complicaciones ni riesgos para ti."
      className="info-card2-como-hacemos"
      variant="2"
    />

    <InfoCard
      number="3"
      title="Trabaja con los mejores"
      text="Comienza a trabajar con un profesional altamente calificado y paga menos que en tu país de origen, mientras accedes a talento de clase mundial."
      className="info-card1-como-hacemos"
    />
  </div>
</section>
