<section class="testimonio-section">
  <p class="testimonio-intro">
    Con Oberstaff, la confianza se construye con <span class="highlight">cada experiencia</span>
  </p>

  <div class="testimonio-card">
    <div class="testimonio-header">
      <img class="foto-profesional" src="/images/testimonio3.webp" alt="Foto de perfil" />
      <div class="info-profesional">
        <h3 class="nombre-profesional">Fernando Calderon</h3>
        <p class="profesion-profesional">CEO de www.bybeautypro.com</p>
      </div>
    </div>

    <p class="testimonio-texto">
      "Gracias a Oberstaff, hemos podido incorporar talento de primer nivel a nuestro equipo a un costo muy competitivo. El proceso fue rápido y sin complicaciones".
    </p>

    <div class="estrellas">
      ★★★★★
    </div>
  </div>
</section>
