---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/empleos/Hero.astro";
import JobSection from "../components/empleos/JobSection.js"; 
import { getJobs } from "../lib/jobs.js";

const jobs = await getJobs(); 
---

<MainLayout>
  <main>
    <Hero />
    <JobSection client:load jobs={jobs} /> 
  </main>
</MainLayout>
