---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/empleos/Hero.astro";
import JobSection from "../components/empleos/JobSection.astro";
import ScrollingBanner from "../components/ScrollingBanner.astro";
---

<MainLayout>
  <main>
    <Hero />
    <JobSection />
    <ScrollingBanner/>
  </main>
</MainLayout>