---
import styles from "../styles/casos_exito.module.css";      
import ScrollingBanner from "./ScrollingBanner.astro";
---

<section class={styles["subrayado-section"]}> 
  <ScrollingBanner/>

  <h2 class={styles["subrayado-titulo"]}>
    Sé parte de la globalización digital y 
    <span class="highlight">ahorra en costes de personal</span>
  </h2>

  <div class={styles["subrayado-card"]}>
    <h3>
      Impulsa tu negocio con el 
      <span class="highlight"> mejor talento de Sudamérica</span>
    </h3>

    <button class={styles["btn-rosado"]}>
      <span 
        class="iconify" 
        data-icon="material-symbols:for-you-outline-rounded" 
        style="font-size:26px;"
      ></span>

      <a href="#contacto" style="text-decoration: none; color: white;">
        <span class="btn-text">COMIENZA HOY</span>
      </a>
    </button>
  </div>
</section>

<section id="testimonios" class={styles["cta-section"]}>
  <h2>Casos de <span class="highlight">éxito</span></h2>
  <p class="cta-subtext">
    En Oberstaff, creemos que nuestros resultados 
    <span class="highlight">hablan mucho más</span> que las palabras
  </p>

  <p class="cta-highlight3">
    Únete a quienes confían en nosotros
  </p>
</section>

<div class={styles["testimonial-section"]}>
  <!-- CARD 1 -->
  <div class={styles["testimonial-card"]}>
    <img src="/images/testimonio1.webp" alt="" class={styles["testimonial-video"]} />

    <div class={styles["testimonial-profile"]}>
      <img class={styles["testimonial-avatar2"]} src="/images/testimonio1.webp" alt="Foto de perfil" />
      <div class={styles["testimonial-info"]}>
        <h4 class={styles["testimonial-name"]}>Shadai Iborra</h4>
        <p class={styles["testimonial-role"]}>CEO de @amediastory</p>
        <div class={styles["testimonial-stars"]}>
          <span>★★★★★</span>
        </div>
      </div>
    </div>

    <p class={styles["testimonial-text"]}>
      Con Oberstaff pude dar trabajo a dos personas a tiempo completo, ahorrando costes...
    </p>

    <button class={styles["testimonial-btn"]}>
      <span class="iconify" data-icon="material-symbols:play-circle-outline-rounded" style="font-size:26px;"></span>
      <span class="btn-text">VER TESTIMONIO</span>
    </button>
  </div>

  <!-- CARD 2 -->
  <div class={styles["testimonial-card"]}>
    <img src="/images/testimonio3.webp" alt="" class={styles["testimonial-video"]} />

    <div class={styles["testimonial-profile"]}>
      <img class={styles["testimonial-avatar2"]} src="/images/testimonio3.webp" alt="Foto de perfil" />
      <div class={styles["testimonial-info"]}>
        <h4 class={styles["testimonial-name"]}>Fernando Calderon</h4>
        <p class={styles["testimonial-role"]}>CEO de www.bybeautypro.com</p>
        <div class={styles["testimonial-stars"]}>
          <span>★★★★★</span>
        </div>
      </div>
    </div>

    <p class={styles["testimonial-text"]}>
      Estaba en busca de un editor de video para mi empresa...
    </p>

    <button class={styles["testimonial-btn"]}>
      <span class="iconify" data-icon="material-symbols:play-circle-outline-rounded" style="font-size:26px;"></span>
      <span class="btn-text">VER TESTIMONIO</span>
    </button>
  </div>

  <!-- CARD 3 -->
  <div class={styles["testimonial-card"]}>
    <img src="/images/testimonio2.webp" alt="" class={styles["testimonial-video"]} />

    <div class={styles["testimonial-profile"]}>
      <img class={styles["testimonial-avatar2"]} src="/images/testimonio2.webp" alt="Foto de perfil" />
      <div class={styles["testimonial-info"]}>
        <h4 class={styles["testimonial-name"]}>Kate McCaferty</h4>
        <p class={styles["testimonial-role"]}>KM Real Estate</p>
        <div class={styles["testimonial-stars"]}>
          <span>★★★★★</span>
        </div>
      </div>
    </div>

    <p class={styles["testimonial-text"]}>
      "I've been working with Oberstaff now for about 2 years..."
    </p>

    <button class={styles["testimonial-btn"]}>
      <span class="iconify" data-icon="material-symbols:play-circle-outline-rounded" style="font-size:26px;"></span>
      <span class="btn-text">VER TESTIMONIO</span>
    </button>
  </div>
</div>

<div class={styles["highlight-box"]}>
  <div class={styles["highlight-icon"]}>
    <span class="iconify" data-icon="material-symbols-light:phone-in-talk" style="font-size:27px;"></span>
  </div>
  <p class={styles["highlight-text"]}>
    Agenda tu llamada y avancemos juntos en el camino hacia tus metas
  </p>
</div>
