---
import "../styles/casos_exito.css";
import SubrayadoSection from "../components/exitos/SubrayadoSection.astro";
import CasosExitoTitle from "../components/exitos/CasosExitoTitle.astro";
import TestimonialList from "../components/exitos/TestimonialList.astro";
import CtaFinal from "../components/exitos/CtaFinal.astro";
---

<section>
  <SubrayadoSection />
  <CasosExitoTitle />
  <TestimonialList />
  <CtaFinal />
</section>
