---
import "../styles/casos_exito.css";
import ScrollingBanner from "./ScrollingBanner.astro";
---

<section class="subrayado-section"> 
  <ScrollingBanner/>

  <h2 class="subrayado-titulo">
    Sé parte de la globalización digital y 
    <span class="highlight">ahorra en costes de personal</span>
  </h2>

  <div class="subrayado-card">
    <h3>
      Impulsa tu negocio con el 
      <span class="highlight"> mejor talento de Sudamérica</span>
    </h3>

    <button class="btn-rosado">
      <span class="iconify" data-icon="material-symbols:for-you-outline-rounded" style="font-size:26px;"></span>

      <a href="#contacto" style="text-decoration: none; color: white;">
        <span class="btn-text">COMIENZA HOY</span>
      </a>
    </button>
  </div>
</section>



<!-- CASOS DE ÉXITO -->
<section id="testimonios" class="cta-section">
  <h2>Casos de <span class="highlight">éxito</span></h2>

  <p class="cta-subtext">
    En Oberstaff, creemos que nuestros resultados 
    <span class="highlight">hablan mucho más</span> que las palabras
  </p>

  <p class="cta-highlight3">
    Únete a quienes confían en nosotros
  </p>
</section>



<!-- TESTIMONIOS - 3 CARDS -->
<div class="testimonial-section">

  <!-- CARD 1 -->
  <div class="testimonial-card">
    <img src="/images/testimonio1.webp" alt="Testimonio 1" class="testimonial-video" />

    <div class="testimonial-profile">
      <img class="testimonial-avatar" src="/images/testimonio1.webp" alt="Foto de perfil" />
      <div class="testimonial-info">
        <h4 class="testimonial-name">Shadai Iborra</h4>
        <p class="testimonial-role">CEO de @amediastory</p>
        <div class="testimonial-stars"><span>★★★★★</span></div>
      </div>
    </div>

    <p class="testimonial-text">
      Con Oberstaff pude dar trabajo a dos personas a tiempo completo, ahorrando costes...
    </p>

    <button class="testimonial-btn">
      <span class="iconify" data-icon="material-symbols:play-circle-outline-rounded" style="font-size:26px;"></span>
      <span class="btn-text">VER TESTIMONIO</span>
    </button>
  </div>



  <!-- CARD 2 -->
  <div class="testimonial-card">
    <img src="/images/testimonio3.webp" alt="Testimonio 3" class="testimonial-video" />

    <div class="testimonial-profile">
      <img class="testimonial-avatar" src="/images/testimonio3.webp" alt="Foto de perfil" />
      <div class="testimonial-info">
        <h4 class="testimonial-name">Fernando Calderon</h4>
        <p class="testimonial-role">CEO de www.bybeautypro.com</p>
        <div class="testimonial-stars"><span>★★★★★</span></div>
      </div>
    </div>

    <p class="testimonial-text">
      Estaba en busca de un editor de video para mi empresa...
    </p>

    <button class="testimonial-btn">
      <span class="iconify" data-icon="material-symbols:play-circle-outline-rounded" style="font-size:26px;"></span>
      <span class="btn-text">VER TESTIMONIO</span>
    </button>
  </div>



  <!-- CARD 3 -->
  <div class="testimonial-card">
    <img src="/images/testimonio2.webp" alt="Testimonio 2" class="testimonial-video" />

    <div class="testimonial-profile">
      <img class="testimonial-avatar" src="/images/testimonio2.webp" alt="Foto de perfil" />
      <div class="testimonial-info">
        <h4 class="testimonial-name">Kate McCafferty</h4>
        <p class="testimonial-role">KM Real Estate</p>
        <div class="testimonial-stars"><span>★★★★★</span></div>
      </div>
    </div>

    <p class="testimonial-text">
      "I've been working with Oberstaff now for about 2 years..."
    </p>

    <button class="testimonial-btn">
      <span class="iconify" data-icon="material-symbols:play-circle-outline-rounded" style="font-size:26px;"></span>
      <span class="btn-text">VER TESTIMONIO</span>
    </button>
  </div>

</div>



<!-- CTA FINAL -->
<div class="highlight-box">
  <div class="highlight-icon">
    <span class="iconify" data-icon="material-symbols-light:phone-in-talk" style="font-size:27px;"></span>
  </div>
  <p class="highlight-text">
    Agenda tu llamada y avancemos juntos en el camino hacia tus metas
  </p>
</div>
