---
import '@n8n/chat/style.css';
import { createChat } from '@n8n/chat';
---
<!-- 
<div id="n8n-chat"></div>

<script type="module">
  createChat({
    webhookUrl: 'https://n8n.obertrack.com/webhook/d669cf0e-aadb-434d-a7b8-fb7d91e81064/chat',
    target: '#n8n-chat',
    mode: 'window',
    showWelcomeScreen: false,
    initialMessages: ['Hola!', 'Soy tu asistente AI.'],
    enableStreaming: false
  });
</script>
-->

