---
import styles from "../styles/como_funciona.module.css";
---

<section id="como-funciona" class={styles["como-funciona-section"]}>
  <h2>¿Cómo funciona?</h2>
  <p class="como-funciona-p">
    Un proceso simple y efectivo para incorporar <span class="alto-nivel">talento de alto nivel</span> a tu empresa.
  </p>

  <div class="info-cards-como-hacemos">
   
    <div class="info-card1-como-hacemos">
      <div class="inner-card">
        <div class="card-number">1</div>
        <h3>Nos cuentas tus necesidades</h3>
        <p>Cuéntanos el perfil que buscas, y nosotros nos encargamos de identificar a los mejores candidatos en Sudamérica que se ajusten perfectamente a tus requerimientos.</p>
      </div>
    </div>

   
    <div class="info-card2-como-hacemos">
      <div class="inner-card">
        <div class="card-number2">2</div>
        <h3>Nosotros contratamos a la persona</h3>
        <p>Contratamos al candidato seleccionado y le pagamos cada mes. Sin contrato de permanencia y sin complicaciones ni riesgos para ti.</p>
      </div>
    </div>

    
    <div class="info-card1-como-hacemos">
      <div class="inner-card">
        <div class="card-number">3</div>
        <h3>Trabaja con los mejores</h3>
        <p>Comienza a trabajar con un profesional altamente calificado y paga menos que en tu país de origen, mientras accedes a talento de clase mundial.</p>
      </div>
    </div>
  </div>
</section>

<section class={styles["testimonio-section"]}>
  <p class={styles["testimonio-intro"]}>
    Con Oberstaff, la confianza se construye con <span class="highlight">cada experiencia</span>
  </p>

  <div class={styles["testimonio-card"]}>
    <div class={styles["testimonio-header"]}>
      <img class={styles["foto-profesional"]} src="/images/testimonio3.webp" alt="Foto de perfil" />
      <div class={styles["info-profesional"]}>
        <h3 class={styles["nombre-profesional"]}>Fernando Calderon</h3>
        <p class={styles["profesion-profesional"]}>CEO de www.bybeautypro.com</p>
      </div>
    </div>

    <p class="testimonio-texto">
      "Gracias a Oberstaff, hemos podido incorporar talento de primer nivel a nuestro equipo a un costo muy competitivo. El proceso fue rápido y sin complicaciones".
    </p>

    <div class="estrellas">
      ★★★★★
    </div>
  </div>
</section>
