---
import "../styles/contacto.css";
import ContactForm from "../components/contacto/ContactForm.astro";
import ContactModal from "../components/contacto/ContactModal.astro";
---

<section id="contacto" class="contact-section">
  <h2>Contáctanos</h2>
  <p>
    Déjanos saber tus requerimientos y nos pondremos en contacto contigo
    <span class="highlight">lo más pronto posible.</span>
  </p>

  <ContactForm />
  <ContactModal />
</section>
