---
import "../styles/footer.css";
import ScrollingBanner from "./ScrollingBanner.astro";
---

<ScrollingBanner/>

<!-- FOOTER MOVIL -->
<footer class="footer-section">

  <img src="/images/logo.png" class="footer-logo" alt="" />

  <p class="footer-copy">© Copyright 2025</p>

  <p class="footer-highlight">Políticas de Privacidad y Uso de Cookies</p>

  <div class="footer-icons">
    <img src="/images/icono-linkdein.png" class="footer-icon" alt="" />
    <img src="/images/icono-facebook.png" class="footer-icon" alt="" />
    <img src="/images/icono-instagram.png" class="footer-icon" alt="" />
    <img src="/images/icono-tiktok.png" class="footer-icon" alt="" />
  </div>

  <p class="footer-message">PATROCINADORES OFICIALES</p>

  <div class="footer-sponsors">
    <img src="/images/logo-one-planet.png" alt="" />
    <img src="/images/worlds-top.webp" alt="" />
    <img src="/images/logo-camara-comercio.webp" alt="" />
  </div>

  <p class="footer-small">
    Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
  </p>
</footer>

<!-- FOOTER DESKTOP -->
<footer class="footer-desktop">

  <div class="footer-top-row">
    <img src="/images/logo.png" class="footer-logo-desktop" alt="Logo Oberstaff" />

    <p class="footer-message-desktop">PATROCINADORES OFICIALES</p>

    <div class="footer-icons-desktop">
      <img src="/images/icono-linkdein.png" class="footer-icon-desktop" alt="LinkedIn" />
      <img src="/images/icono-facebook.png" class="footer-icon-desktop" alt="Facebook" />
      <img src="/images/icono-instagram.png" class="footer-icon-desktop" alt="Instagram" />
      <img src="/images/icono-tiktok.png" class="footer-icon-desktop" alt="TikTok" />
    </div>
  </div>

  <div class="footer-sponsors-row">
    <div class="footer-sponsors-desktop">
      <img src="/images/logo-one-planet.png" alt="One Planet" />
      <img src="/images/worlds-top.webp" alt="Top" />
      <img src="/images/logo-camara-comercio.webp" alt="Comercio" />
    </div>
  </div>

  <div class="footer-bottom-row">
    <p class="footer-highlight-desktop">Políticas de Privacidad y Seguridad</p>
    <p class="footer-copy-desktop">© Copyright 2025</p>
  </div>

  <p class="footer-small-desktop">
    Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
  </p>

</footer>
