---
import "../styles/header.css";
import HeaderModals from "./header/HeaderModal.astro";
---

<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Logo" />
      </a>

      <nav class="nav-links">
        <a href="/#que-hacemos">¿Qué hacemos?</a>
        <a href="/#como-funciona">¿Cómo funciona?</a>
        <a href="/#testimonios">Testimonios</a>
        <a href="/#preguntas-frecuentes">Preguntas frecuentes</a>
        <a href="https://oberstaff.com/blog">Blog</a>
        <a href="/empleos">¿Buscas trabajo?</a>
      </nav>

      <!-- 
      <button id="openContactBtn" class="menu-btn contact-btn" aria-label="Abrir contacto">
        <span class="iconify" data-icon="mdi:comment-outline" style="font-size:25px;"></span>
      </button>
      -->

       <a href="#contacto" class="menu-btn contact-btn" aria-label="Ir a contacto">
  <span class="iconify" data-icon="mdi:comment-outline" style="font-size:25px; color:black;"></span>
</a>

      <button id="openMenuBtn" class="menu-btn ham-btn" aria-label="Abrir menú">
        <span class="iconify" data-icon="material-symbols:density-medium-rounded" style="font-size:25px;"></span>
      </button>
    </div>
  </div>
</header>

<HeaderModals />
