---
import "../styles/header.css";   
import logo from "../assets/logo.png";
import iconoHam from "../assets/icono-hamburguesa.png";
import iconoConv from "../assets/icono-contacto.png";
---

<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="#" class="logo">
        <img src={logo.src} alt="Logo" /> 
      </a> 

      <nav class="nav-links">
        <a href="/#que-hacemos">¿Qué hacemos?</a>
        <a href="/#como-funciona">¿Cómo funciona?</a>
        <a href="/#testimonios">Testimonios</a>
        <a href="/#preguntas-frecuentes">Preguntas frecuentes</a>
        <a href="/#contacto">Contacto</a>
        <a href="/blog">Blog</a>
        <a href="/empleos">¿Buscas trabajo?</a>
      </nav>

      <!-- Botón contacto -->
      <button
        id="openContactBtn"
        class="menu-btn contact-btn"
        aria-label="Abrir contacto"
      >
        <img src={iconoConv.src} alt="Contacto" />
      </button>

      <!-- Botón hamburguesa -->
      <button id="openMenuBtn" class="menu-btn ham-btn" aria-label="Abrir menú">
        <img src={iconoHam.src} alt="Abrir menú" />
      </button>
    </div>
  </div>
</header>

<!--  MODAL MENÚ -->
<div id="menuModal" class="menu-modal">
  <div class="modal-backdrop" id="modalBackdropMenu"></div>
  <div class="modal-content">
    <div class="modal-header">
      <img src={logo.src} alt="Logo" class="modal-logo" />
      <button id="closeMenuBtn" class="close-btn" aria-label="Cerrar">×</button>
    </div>

    <nav class="modal-links">
      <a href="#que-hacemos">¿Qué hacemos?</a>
      <a href="#como-funciona">¿Cómo funciona?</a>
      <a href="#testimonios">Testimonios</a>
      <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
      <a href="#contacto">Contacto</a>
      <a href="#">Blog</a>
      <a href="#">¿Buscas trabajo?</a>
    </nav>
  </div>
</div>

<!--MODAL CONTACTO -->
<div id="contactModal" class="menu-modal">
  <div class="modal-backdrop" id="modalBackdropContact"></div>
  <div class="modal-content contact-content">
    <div class="modal-header">
      <img src="" alt="" class="modal-logo" />
      <button id="closeContactBtn" class="close-btn" aria-label="Cerrar"
        >×</button
      >
    </div>

    <h2>Envíanos <span class="mensaje">un mensaje</span></h2>
    <p>Envíanos tus dudas y te responderemos lo más pronto posible.</p>

    <form id="webhookFormModal" class="contact-form-modal">
      <input type="text" name="nombre" placeholder="Nombre y apellido" required />
      <input type="email" name="email" placeholder="Email" required />

      <div class="phone-group"> 
        <input type="text" name="codigoPais" placeholder="+XX" class="country-code" required />
        <input
          type="text" name="telefono"
          placeholder="Teléfono"
          class="phone-number"
          required
        />
      </div>

      <textarea name="mensaje" placeholder="Mensaje" rows="4" required></textarea>

      <button type="submit" class="btn-send">ENVIAR MENSAJE</button>
    </form>
  </div>
</div>

<script src="./scripts/menu.js" type="module"></script>
<script src="./scripts/webhookModal.js" type="module"></script>


