---
import "../styles/HeroSection.css";
import ScrollingBanner from "../components/ScrollingBanner.astro";
import HeroText from "./hero/HeroText.astro";
import GlobeLottie from "../components/GlobeLottie";
---

<section class="hero futuristic-hero">

  <!-- Fondo futurista -->
  <div class="network-lines"></div>

  <!-- Globo gigante detrás -->
  <div id="globe-container" class="globe-background"></div>
<GlobeLottie client:load />


  <!-- Texto en su lugar original -->
  <div class="container hero-grid">
    <HeroText />
  </div>

</section>

<div class="banner">
  <ScrollingBanner />
</div>

