---
import "../styles/HeroSection.css";
import ScrollingBanner from "../components/ScrollingBanner.astro";
import HeroText from "./hero/HeroText.astro";
import GlobeLottie from "../components/GlobeLottie";
import HeroVideoDesktop from "../components/hero/HeroDesktopVideo.astro"
---

<section class="hero futuristic-hero">

  <div class="network-lines"></div>

<GlobeLottie client:load />


  <div class="container hero-grid">
    <HeroText />
  </div>

</section>

<div class="banner">
  <ScrollingBanner />
</div>


<HeroVideoDesktop />
