---
import "../styles/que_hacemos.css";

import MiniCards from "./quehacemos/MiniCards.astro";
import CarouselCards from "./quehacemos/CarouselCards.astro";
---

<section id="que-hacemos" class="que-hacemos-section">
  <h2>¿Qué hacemos?</h2>

  <p>
    Conectamos empresas con talento profesional 
    <span class="alto-nivel">de alto nivel</span> en Sudamérica, ofreciendo soluciones que benefician ambas partes.
  </p>

  <MiniCards />
</section>

<section>
  <CarouselCards />

  <div style="text-align: center; margin-top: 2rem;">
    <a href="#contacto" style="text-decoration: none;">
      <button class="btn-primary2">¿ESTÁS INTERESADO?</button>
    </a>
  </div>
</section>
