---
import "../styles/transforma_tu_empresa.css";   
import Servicios from "./Servicios.astro";
import CTASection from "./transforma/CTASection.astro";
import CardsVariedad from "./transforma/CardsVariedad.astro";
---

<CTASection />

<div class="servicios-wrapper">
  <Servicios />
</div>

<CardsVariedad />
