---
import "../styles/transforma_tu_empresa.css";  
import iconoCalen from "../assets/icono-calendario.png";
import Servicios from "./Servicios.astro";

---
 
<!--transforma tu empresa -->

<section class="cta-section">
  <h2>Transforma tu <span class="highlight">empresa</span></h2>
  <p class="cta-subtext">
    Nuestros profesionales están listos para ofrecerte estrategias innovadoras y personalizadas que te llevarán a <span class="highlight">alcanzar y superar tus objetivos de negocio.</span>
  </p>
   <button class="btn-primary4">
  <span class="btn-icon"><img src={iconoCalen.src} alt="" /></span>
  <span class="btn-text">AGENDA UNA CONSULTA GRATIS</span>
</button>
  <p class="cta-highlight">
    Ofrecemos una amplia variedad de perfiles para satisfacer tus necesidades.
  </p>
</section>
<Servicios/>

</section>

<script src="./scripts/mosaico2.js" type="module"></script>
