---
import BeneficiosMosaicoCard from "./BeneficiosMosaicoCard.astro";
import "../../styles/beneficios/beneficiosMosaico.css";
---

<section class="mosaico-desktop">
  <div class="mosaico-grid">

    <div class="columna">
      <BeneficiosMosaicoCard 
        img="/images/img2.webp" 
        title="Ahorro del 70% en costos"
        text="Al contratar talento remoto con Oberstaff, puedes reducir hasta un 70% en costos de personal, evitando gastos adicionales como seguridad social u otros beneficios laborales."
        class="mosaico-card img1 grande"
      />

      <BeneficiosMosaicoCard 
        img="/images/img8.webp" 
        title="Selección simplificada"
        text="Nos encargamos de todo el proceso de búsqueda, selección y contratación, ahorrándote tiempo y esfuerzo para que te enfoques en lo que realmente importa: tu negocio."
        class="mosaico-card img2 pequeña"
      />
    </div>

    <div class="columna">
      <BeneficiosMosaicoCard 
        img="/images/img5.webp" 
        title="Talento altamente calificado"
        text="Todos los candidatos son rigurosamente evaluados a través de pruebas psicométricas y seleccionados cuidadosamente para cumplir con tus requerimientos específicos."
        class="mosaico-card img3 alto"
      />
    </div>

    <div class="columna columna-central">
      <BeneficiosMosaicoCard 
        img="/images/img4.webp" 
        title="Integración total"
        text="Los profesionales trabajarán en tu misma zona horaria y se integrarán perfectamente a tu equipo, interactuando como un compañero más."
        class="mosaico-card img4 ancha"
      />

      <BeneficiosMosaicoCard 
        img="/images/img6.webp" 
        title="Flexibilidad total"
        text="No exigimos compromisos de permanencia. Puedes ajustar o solicitar la cancelación del servicio cuando lo necesites, sin penalizaciones ni complicaciones."
        class="mosaico-card img5 pequeña"
      />

      <BeneficiosMosaicoCard 
        img="/images/img10.webp" 
        title="Escalabilidad inmediata"
        text="Amplía o reduce tu equipo según las necesidades de tu negocio y la evolución de tus proyectos, sin trámites complicados ni largos procesos."
        class="mosaico-card img6 pequeña"
      />
    </div>

    <div class="columna">
      <BeneficiosMosaicoCard 
        img="/images/img1.webp" 
        title="Protección total"
        text="Al no ser tú quien contrata directamente al profesional, quedas protegido de cualquier reclamación laboral o contractual, ofreciéndote tranquilidad y seguridad."
        class="mosaico-card img7 alto"
      />
    </div>

    <div class="columna">
      <BeneficiosMosaicoCard 
        img="/images/img7.webp" 
        title="Soporte continuo"
        text="Nuestro equipo está disponible para ofrecerte asistencia y garantizar una integración fluida y exitosa de tu talento remoto en cualquier momento que lo necesites."
        class="mosaico-card img8 pequeña"
      />

      <BeneficiosMosaicoCard 
        img="/images/img9.webp" 
        title="Mejora de la competitividad"
        text="Al reducir costos operativos y aumentar la eficiencia de tu equipo, tu empresa se vuelve más competitiva en el mercado global actual."
        class="mosaico-card img9 grande"
      />
    </div>

  </div>
</section>
