<div class="btn-wrapper">
  <button class="btn-primary3">
    <span class="iconify" data-icon="material-symbols:calendar-add-on" style="font-size:23px;"></span>
    <span class="btn-text">PROGRAMA UNA CONSULTA GRATIS</span>
  </button>
</div>
