<h2 class="beneficiosh2">
  ¿Qué beneficios <span class="highlight">te ofrece Oberstaff?</span>
</h2>

<p class="beneficiosp">
  Obtendrás acceso a profesionales altamente capacitados, flexibilidad operativa y soluciones personalizadas que
  <span class="highlight">transformarán tu equipo.</span>
</p>
