
---
import "../../styles/footer.css";
---

<footer class="footer-section">

  <img src="/images/logo.png" class="footer-logo" alt="" />

  <p class="footer-copy">© Copyright 2025</p>

  <p class="footer-highlight">Políticas de Privacidad y Uso de Cookies</p> 

  <div class="footer-icons">
    <a href="https://www.linkedin.com/company/oberstaff/" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-linkdein.png" class="footer-icon" alt="LinkedIn" />
      </a>
    <a href="https://www.facebook.com/oberstaff" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-facebook.png" class="footer-icon" alt="Facebook" />
      </a>
     
      <a href="https://www.instagram.com/oberstaff/" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-instagram.png" class="footer-icon" alt="Instagram" />
      </a>
    <a href="https://www.tiktok.com/@oberstaff" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-tiktok.png" class="footer-icon" alt="TikTok" />
      </a> 
  </div>

  <p class="footer-message">PATROCINADORES OFICIALES</p>

  <div class="footer-sponsors">
    <img src="/images/logo-one-planet.png" alt="" />
    <img src="/images/worlds-top.webp" alt="" />
    <img src="/images/logo-camara-comercio.webp" alt="" />
  </div>

  <p class="footer-small">
    Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
  </p>
</footer>
