---
import "../../styles/footer.css";
---

<footer class="footer-desktop">

  <div class="footer-top-row">
    <img src="/images/logo.png" class="footer-logo-desktop" alt="Logo Oberstaff" />

    <p class="footer-message-desktop">PATROCINADORES OFICIALES</p>

    <div class="footer-icons-desktop">

      <a href="https://www.linkedin.com/company/oberstaff/" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-linkdein.png" class="footer-icon-desktop" alt="LinkedIn" />
      </a>

      <a href="https://www.facebook.com/oberstaff" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-facebook.png" class="footer-icon-desktop" alt="Facebook" />
      </a>
      
      <a href="https://www.instagram.com/oberstaff/" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-instagram.png" class="footer-icon-desktop" alt="Instagram" />
      </a>

      <a href="https://www.tiktok.com/@oberstaff" target="_blank" rel="noopener noreferrer">
        <img src="/images/icono-tiktok.png" class="footer-icon-desktop" alt="TikTok" />
      </a>

    </div>
  </div>

  <div class="footer-sponsors-row">
    <div class="footer-sponsors-desktop">
      <img src="/images/logo-one-planet.png" alt="One Planet" />
      <img src="/images/worlds-top.webp" alt="Top" />
      <img src="/images/logo-camara-comercio.webp" alt="Comercio" />
    </div>
  </div>

  <div class="footer-bottom-row">
    <p class="footer-highlight-desktop">Políticas de Privacidad y Seguridad</p>
    <p class="footer-copy-desktop">© Copyright 2025</p>
  </div>

  <p class="footer-small-desktop">
    Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
  </p>

</footer>
