---
import "../../styles/que_hacemos.css";
---

<div class="cards">

  <div class="card-fixed" style="background-image: url('/images/woman.jpg');">
    <div class="icon">
      <span class="iconify" data-icon="circum:trophy" style="font-size:40px; color:white;"></span>
    </div>
    <h1 class="card-title">Talento Profesional</h1>
  </div>

  <div class="card-fixed" style="background-image: url('/images/hands.jpg');">
    <div class="icon">
      <span class="iconify" data-icon="material-symbols-light:handshake-outline" style="font-size:40px; color:white;"></span>
    </div>
    <h1 class="card-title">Beneficio Mutuo</h1>
  </div>

</div>
