---
import "../../styles/que_hacemos.css";
---

<div class="info-cards">
  <div class="info-card1">
    <h3>Búsqueda y Selección</h3>
    <p>Simplificamos todo el proceso de encontrar el talento ideal para tu empresa, ahorrándote tiempo y recursos.</p>

    <div class="mini-card">
      <span class="iconify" data-icon="material-symbols:person-search-outline-rounded" style="font-size:25px;"></span>
    </div>
  </div>

  <div class="info-card2">
    <h3>Profesionales Comprometidos</h3>
    <p>Contratamos expertos motivados y dedicados a impulsar tu negocio con sus habilidades y conocimientos.</p>

    <div class="mini-card2">
      <span class="iconify" data-icon="grommet-icons:group" style="font-size:25px;"></span>
    </div>
  </div>

  <div class="info-card1">
    <h3>Ahorro Significativo</h3>
    <p>Ahorra hasta un 70% en costos de personal mientras ofreces salarios competitivos a profesionales talentosos.</p>

    <div class="mini-card3">
      <span class="iconify" data-icon="system-uicons:coins" style="font-size:25px;"></span>
    </div>
  </div>
</div>
