---
import Footer from "../components/Footer.astro";
import Header from "../components/header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oberstaff | Crece sin límites</title>
    <link href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css" rel="stylesheet" />
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>


    <style>
      :root {
        --chat--color--primary: #FF65C3;
        --chat--color--secondary: #FF65C3;
        --chat--color-light: #ffffff;
        --chat--window--width: 480px;
        --chat--window--height: 600px;
        --chat--border-radius: 0.75rem;
        --chat--header--background: #f399d0;
      }

      :root {
  --chat--toggle--hover--background: var(--chat--toggle--background) !important;
  --chat--toggle--active--background: var(--chat--toggle--background) !important;
}


#n8n-chat, #n8n-chat *{ 
  
font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial !important;

} 
 
 /*
#n8n-chat::part(message-bubble):hover {
  background-color: #FF65C3 !important;
  filter: none !important;
  transform: none !important;
}*/
 

    </style>  


  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <div id="n8n-chat"></div>

    <script type="module">
      import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

    createChat({
      webhookUrl: 'https://n8n.obertrack.com/webhook/d669cf0e-aadb-434d-a7b8-fb7d91e81064/chat',
      target: '#n8n-chat',
      mode: 'window',
     
      showWelcomeScreen: false,
      initialMessages: ['Hola, soy tu Asistente IA.'],
      enableStreaming: false,


    i18n: {  
      en: {
        title: 'Asistente IA',           // título del header
        subtitle: 'Listo para ayudarte en lo que necesites.', // texto debajo del título
      }
    }

    });


    
  </script>

    <Footer/>
  </body>
</html>