---
import Header from "../components/header.astro"

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oberstaff | Crece sin límites</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css" rel="stylesheet" />

  <style>
      :root {
        --chat--color--primary: #FF65C3;   /*boton*/ 
        --chat--color--secondary: #FF65C3;  /*mensajes del chat*/ 
        --chat--color-dark: #222222;
        --chat--color-light: #ffffff; 
        --chat--window--width: 480px;
        --chat--window--height: 600px;
        --chat--border-radius: 0.75rem;
      }
    </style>  

  </head>
  <body>
    <Header/>
     
    <slot />
    


      <div id="n8n-chat"></div>

  <script type="module">
    import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

    createChat({
      webhookUrl: 'https://n8n.obertrack.com/webhook/d669cf0e-aadb-434d-a7b8-fb7d91e81064/chat',
      target: '#n8n-chat',
      mode: 'window',
      showWelcomeScreen: false,
      initialMessages: ['Hola, soy tu Asistente IA.'],
      enableStreaming: false
    });
  </script>

 
  </body>
</html>


<!--

<script type="module">
    import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

    createChat({
      webhookUrl: 'https://n8n.obertrack.com/webhook/d669cf0e-aadb-434d-a7b8-fb7d91e81064/chat',
      target: '#n8n-chat',
      mode: 'window',
      showWelcomeScreen: true,  // 🔹 activar la pantalla de bienvenida
      initialMessages: ['Hola, soy tu Asistente IA.'],
      i18n: {
        en: {
          title: '¡Hola! 👋',                   // título en header
          subtitle: 'Estoy aquí para ayudarte.', // subtítulo
          footer: '',                             // footer (opcional)
          getStarted: 'Nueva conversación',      // texto botón iniciar
          inputPlaceholder: 'Escribe tu pregunta...' // placeholder input
        }
      },
      enableStreaming: false
    });
  </script>

-->