<section id="testimonios" class="cta-section">
  <h2>Casos de <span class="highlight">éxito</span></h2>

  <p class="cta-subtext">
    En Oberstaff, creemos que nuestros resultados 
    <span class="highlight">hablan mucho más</span> que las palabras
  </p>

  <p class="cta-highlight3">
    Únete a quienes confían en nosotros
  </p>
</section>
