<div class="highlight-box">
  <div class="highlight-icon">
    <span class="iconify" data-icon="material-symbols-light:phone-in-talk" style="font-size:27px;"></span>
  </div>

  <p class="highlight-text">
    Agenda tu llamada y avancemos juntos en el camino hacia tus metas
  </p>
</div>
