---
import ScrollingBanner from "../ScrollingBanner.astro";
---

<section class="subrayado-section">
  <ScrollingBanner />

  <h2 class="subrayado-titulo">
    Sé parte de la globalización digital y 
    <span class="highlight">ahorra en costes de personal</span>
  </h2>

  <div class="subrayado-card">
    <h3>
      Impulsa tu negocio con el 
      <span class="highlight"> mejor talento de Sudamérica</span>
    </h3>

    <button class="btn-rosado">
      <span class="iconify" data-icon="material-symbols:for-you-outline-rounded" style="font-size:26px;"></span>

      <a href="#contacto" style="text-decoration: none; color: white;">
        <span class="btn-text">COMIENZA HOY</span>
      </a>
    </button>
  </div>
</section>
