---
import TestimonialCard from "./TestimonialCard.astro";
---

<div class="testimonial-section">

  <TestimonialCard
    img="/images/testimonio1.webp"
    avatar="/images/testimonio1.webp"
    name="Shadai Iborra"
    role="CEO de @amediastory"
    text="Con Oberstaff pude dar trabajo a dos personas a tiempo completo, ahorrando costes..."
  />

  <TestimonialCard
    img="/images/testimonio3.webp"
    avatar="/images/testimonio3.webp"
    name="Fernando Calderon"
    role="CEO de www.bybeautypro.com"
    text="Estaba en busca de un editor de video para mi empresa..."
  />

  <TestimonialCard
    img="/images/testimonio2.webp"
    avatar="/images/testimonio2.webp"
    name="Kate McCafferty"
    role="KM Real Estate"
    text='Ive been working with Oberstaff now for about 2 years...'
  />

</div>
